# conda create -n ML_env python=3.9
# conda activate ML_env
# pip install -r requirements.txt

aioftp==0.21.3
aiohttp==3.8.1
aiosignal==1.2.0
asdf==2.12.0
asdf-astropy==0.2.1
asdf-coordinates-schemas==0.1.0
asdf-standard==1.0.3
asdf-transform-schemas==0.2.2
astropy==5.1
astropy-healpix==0.6
astrospice==0.1.0
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bs4==0.0.1
cached-property==1.5.2
cdflib==0.4.4
certifi==2022.6.15
charset-normalizer==2.1.0
cloudpickle
cycler
dask==2022.8.0
debugpy
decorator==5.1.1
drms==0.6.2
emoji
entrypoints==0.4
executing==0.10.0
fonttools==4.35.0
frozenlist==1.3.1
fsspec==2022.7.1
Glymur==0.11.3
greenlet==1.1.2
h5netcdf==1.0.2
h5py==3.7.0
idna==3.3
imageio==2.21.1
iminuit==2.23.0
ipykernel
ipython
ipywidgets
isodate==0.6.1
kiwisolver==1.4.4
locket==1.0.0
lxml==4.9.1
matplotlib==3.5.3
matplotlib-inline
mpl-animators==1.1.0
multidict==6.0.2
nest-asyncio==1.5.5
networkx==2.8.5
notebook==6.5.4
numpy==1.23.2
openpyxl
packaging==21.3
pandas==1.5.0
parfive==2.0.1
parso==0.8.3
partd==1.3.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow
platformdirs==2.5.2
prompt-toolkit==3.0.30
psutil
ptyprocess==0.7.0
pure-eval
pyerfa==2.0.0.1
Pygments==2.13.0
pyls-spyder
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.2.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq
reproject==0.8
requests==2.28.1
requests-file==1.5.1
requests-toolbelt==0.9.1
seaborn==0.12.2
seabreeze==2.4.0
scikit-image==0.19.3
scikit-learn==1.3.0
scipy==1.11.1
semantic-version==2.10.0
six==1.16.0
soupsieve==2.3.2.post1
spiceypy==5.1.1
SQLAlchemy==1.4.40
stack-data==0.4.0
sunpy
sunpy-soar==1.4
tifffile==2022.8.12
toolz==0.12.0
tornado
torch==2.0.1
torchvision==0.15.2
tqdm==4.64.0
traitlets
urllib3
wcwidth==0.2.5
xgboost==1.7.6
yarl==1.8.1
zeep==4.1.0
