# conda create -n ML_env python=3.9
# conda activate ML_env
# pip install -r requirements.txt


astropy==5.1
astropy-healpix==0.6
astrospice==0.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
cdflib==0.4.4
emoji
iminuit>=2.23.0
ipython
ipywidgets
jupyterlab
matplotlib
notebook==7.0.0
numpy
pandas==1.5.0
Pillow
pandas
seaborn==0.12.2
seabreeze==2.4.0
scikit-image
scikit-learn
scipy
six==1.16.0
sunpy
sunpy-soar==1.4
sympy==1.12
text-analysis-helpers
torch==2.0.1
torchvision
tqdm==4.64.0
xgboost==1.7.6
